/*
 * Manuscript, for Drupal 5.x
 * Sertan Kazar, www.sablonturk.com

*/

body { margin:5px 0; padding:0; font: 74% Arial, Sans-Serif; color:#000; line-height: 1.4em; background : #575757;}
.esas { color: #3B2A0A; margin: 0 auto; padding: 0; width: 825px; background: url(bg2.jpg) repeat-y center bottom; }
#ust { background: url(header.jpg) no-repeat; width: 825px; height: 213px; color: #3B2A0A; }
#ust h1 { background: inherit; font: bold 3em "Tahoma", Arial; color: #85621E; line-height: 1em;}
#ust h3 { background: inherit; font: bold 1em "Tahoma", Arial; color: #000; }
#ust .baslik { padding: 60px 0 0 60px; }


#ana { background: url(bg.jpg) no-repeat ; height: 100%; margin: 0; padding: 0 }	
#ana .merkez { width: 550px; float: right; padding: 0 60px 0 0px; }
#ana h2 { background-color: inherit; color: #85621E; }
#ana h3 { font: 85% Arial, Sans-Serif; margin: 0 0 10px 0; padding: 0; color: #5f5f5f; background: inherit; }


.leftmenu { width: 120px; float: left; padding: 0; padding: 0 0 0 40px; }
.padding { padding: 15px; }

.img { background: #FFF; float: left; padding: 1px; margin: 5px 8px 5px 0; color: #333; border: 1px solid #e0e0e0; }

#prefooter { background: url(prefooter.jpg) no-repeat; color: #85621f; height: 190px; text-align: left;  clear: both; padding: 0px; margin: 0; }
#prefooter .message { width: 550px; padding: 20px 0px 0 0px; float: right; background: transparent }

#alt { background: url(footer.jpg) no-repeat; color: #8f8f8f; height: 44px; text-align: right; font-size: 90%; clear: both; padding: 0; margin: 0;}
#alt .padding { padding: 20px 60px 0 0; }
#alt hr { width: 740px; color: #888; border: 1px solid #f0f0f0; margin: 0 25px 0 25px;  }
#alt a { 	color: #999;  text-decoration:none; }
#alt a:hover { text-decoration: underline; color: #FFF;}


.nav { clear: both; text-align: left; color: #85621E; padding: 20px 0 0 0; }
.nav li { font-weight: bold; margin: 0 0 8px 0; padding: 0 0 0 5px; border-bottom: 1px solid #D2B881 }
.nav li a { color: #546078; text-decoration: none;  }
.nav li a:hover { color: #95722E; text-decoration: none;  }


.boxads { background: #E7EDF0; padding: 5px; border: 1px solid #999; color: #333; }




p { 	margin: 0 0 5px 0; 	padding: 0; color: #555; background: inherit; }

hr { border: 0; height: 1px; color: #eee; background-color: #eee; }
a { 	color: #0F5B7F; background: inherit;  text-decoration:none; }
a:hover { 	background: inherit;	text-decoration: underline; }
h1 { padding:0; margin:0; color: #0F5B7F; background: inherit;font: bold 1.8em Arial, Sans-Serif; letter-spacing: -1px; }
h1 a {color: #0F5BFF; background: inherit;}
h2 { background-color: inherit; 	color:#85621E; font-size:140%; font-weight:bold; margin: 10px 0 10px 0; padding:0; }
h2 a { color: #85621E; }
h2 a:hover { 	color: #BD9C5C; text-decoration: none;}

ul { margin: 5px 0 20px 15px; padding : 0; list-style : none;  }
li { list-style-type: none;	color: #F29900;	margin: 0 0 0px 0;	padding: 0 0 0 0px; }
li a { color: #546078;  }
li a:hover { color: #F29900; }

/*----------------- for snews --------------------------*/

fieldset {	border: 1px solid #eee; }
textarea.text { height: 150px; width: 90%; border: 1px solid #ccc; background: #fff; color: #000; }
textarea.text:hover { border: 1px solid #eee; background: #FFFFF4; color: #000; }
input.field { border: 1px solid #ccc; background-color: #3C3C3C; width: 100px; color: #000; }
input.field:hover { border: 1px solid #eee; background: #ccc; color: #000; }
input.text { margin: 0; width: 110px;	border: 1px solid #546078; background: #FFF; color: #808080; }
input.text:hover { border: 1px solid #3a4354; }
input.searchbutton { 	margin: 0; font-size: 100%; font-family: Arial, Sans-serif; border: none; background: #FFFFFF; color: #333; padding: 1px; font-weight: bold; }
.date { color: #5f5f5f; background: inherit; text-align: right; margin: 4px 0 5px 0; padding: 0.4em 0 0 0; border-top: 1px solid #85621E; }
.date a { color: #546078; }
input.button { background: #FFFFF4; color: #808080; border-right: 1px solid #ccc;	border-bottom: 1px solid #ccc; }
.comments { 	padding: 10px 10px 8px 10px; margin: 0 0 7px 0; background: #FFF; color: #333; }
.commentsbox { padding: 8px 0 10px 10px; margin: 0 0 10px 0; background: #f4f4f4; color: #000; }
.error {	color: #990000;	background-color: #FFF0F0; padding: 7px; margin-top: 5px; margin-bottom: 10px; border: 1px dashed #990000; }
.error h2 { color: #990000; background: inherit; }
.success { color: #000000; background: #FAFAFA;	padding: 7px; margin-top: 5px; margin-bottom: 5px; border: 1px dashed #546078; }
.success h2 { color: #546078; background: inherit; }




tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background-color: #69c;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0;
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  padding: 1.5em 2em;
  color: #fff;
  font-size: 1.5em;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
  font-size: 1.5em;
}
.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #ddd;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a#font-family {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}